.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-top: 25px;
  border-bottom: 2px solid #ccc;
  padding: 10px 5px;
}

.TodoName {
  display: flex;
  align-items: center;
}

/* .TodoName input {
  width: 15px;
  height: 15px;
  margin-left: 10px;
} */

.Icon {
  cursor: pointer;
}

.btn {
  outline: none;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: rgb(237, 82, 82);
}

.complete {
  color: rgb(237, 82, 82);
  text-decoration: line-through;
}

.checkbox {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  accent-color: rgb(237, 82, 82);
}
