.TodoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 18px;
  border-bottom: 2px solid #ccc;
  padding: 10px 5px;
}

.TodoName {
  display: flex;
  align-items: center;
}

/* .TodoName input {
  width: 15px;
  height: 15px;
  margin-left: 10px;
} */

.Icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.btn {
  outline: none;
  background: none;
  border: none;
  transition: all 0.2s ease-in-out;
  color: rgba(156, 163, 175, 1);
}

.btn:hover {
  color: #e6007e;
}

.complete {
  color: #e6007e;
  text-decoration: line-through;
}

.checkbox {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  accent-color: #e6007e;
}
