.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #4b5563;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 3rem;
  white-space: nowrap;
  border-top: 1px solid rgba(156, 163, 175);
  background-color: rgba(209, 213, 219, 1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
